# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# 測試文章
_posts/2022-04-20-my_first_article.md
_posts/2022-08-18-link_to_other_blog.md
