/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/
// custom font family
@font-face {
  font-family: 'TaipeiSans';
  src: local("TaipeiSansTCBeta-Regular.ttf") format("truetype");
}
$font-main: 'TaipeiSans', sans-serif;

@font-face{
  font-family: 'TaipeiSans-Bold';
  src: local("TaipeiSansTCBeta-Bold.ttf") format("truetype"),
       local("TaipeiSansTCBeta-Regular.ttf") format("truetype");
}
